<div class="text-center">
<div class="jumbotron">
  <h1>After-While Crocodile</h1>
  <p>An easy way for you to stay organized with a self-destructing to-do list app. Keeping you focused and clutter free.</p>
