<br>
<div class="jumbotron">
  <h1>After-While Crocodile</h1>
  <p>An easy way for you to stay organized with a self-destructing to-do list app. Keeping you focused and clutter free.</p>

  <p>
      <%=link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%=link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Solves multitasking muddle</h2>
      <p>After While Crocodile will not let you forget important to-dos</p>
    </div>
    <div class="col-md-4">
      <h2>Eliminates disorganization</h2>
      <p>After While Crocodile will help clear the clutter from your to-do's</p>
    </div>
    <div class="col-md-4">
      <h2>Makes you successful</h2>
      <p>After While Crocodile will get you to the next level</p>
    </div>
  </div>
